{% load inlinetrans %}

<!-- The logo section -->
<div class="span3 logo offset3">
    <!-- Social -->
    <ul class="social">
        <li>
            <a href="http://www.facebook.com/jesus.anaya.dev" class="poshytip  facebook" title="Become a fan" target="_blank"></a>
        </li>
        <li>
            <a href="https://twitter.com/jesusanayao" class="poshytip twitter" title="Follow our tweets" target="_blank"></a>
        </li>
        <li>
            <a href="https://plus.google.com/114023866873417231088/posts" class="poshytip google" title="Plus in G+" target="_blank"></a>
        </li>
        <li>
            <a href="http://mx.linkedin.com/in/jesusanaya" class="poshytip linkedin" title="Show Linkedin profile" target="_blank"></a>
        </li>
        <li>
            <a href="https://github.com/jesusanaya" class="poshytip github" title="Show Github" target="_blank"></a>
        </li>
    </ul>
    <!-- ENDS Social -->
</div>
<!-- The logo section end -->
<!-- The menu section -->
<div class="menu span3">
    <ul id="ulmenu"  class="collapse">
        <li {% if page_tag == 'home' %}class="selected"{% endif %} data-toggle="tooltip" title="Home">
            <a href="{% url 'home' %}" class="home"></a>
        </li>
        <li {% if page_tag == 'resume' %}class="selected"{% endif %} data-placement="bottom" data-toggle="tooltip" title="Resume">
            <a href="{% url 'resume' %}" class="resume"></a>
        </li>
        <li {% if page_tag == 'portfolio' %}class="selected"{% endif %} data-toggle="tooltip" data-placement="bottom" title="Portfolio">
            <a href="{% url 'portfolio' %}" class="portfolio"></a>
        </li>
        <li {% if page_tag == 'services' %}class="selected"{% endif %} data-toggle="tooltip" data-placement="bottom" title="Services">
            <a href="services.html" class="services"></a>
        </li>
        <li {% if page_tag == 'blog' %}class="selected"{% endif %} data-toggle="tooltip" data-placement="bottom" title="Blog">
            <a href="{% url 'blog_post_list' %}" class="blog"></a>
        </li>
        <li {% if page_tag == 'contact' %}class="selected"{% endif %} data-toggle="tooltip" data-placement="bottom" title="Contact">
            <a href="{% url 'contact' %}" class="contact"></a>
        </li>
    </ul>
</div>
<!-- The menu section end -->